<!DOCTYPE html>
<html>
    <head>
        <title>测测</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1,user-scalable=no">
    </head>
    <body>
        <style>
            .wx_icon{
                display: none;
            }
        </style>
        <div class="wrap">
            <div class="titlewrap">
                <p class="title">测测ok</p>
            </div>
            <form method="post">
                                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                                                        <div class="question" style="margin-top:18px;">
                                                                <div id="main" style="max-width: 378px;">
                                    <div id="midpart">
                                        <div style="width:100%;background-color:#EFE7FE;height:3px;display: inline-block">
                                            <div style="width:33%;background-color:#9356DF;height:3px;"></div>
                                        </div>
                                    </div>
                                    <div id="leftpart"><span style="font-size: 24px;color:#9356DF;margin-right: 2px">1</span><span style="font-size:14px;color:#333333;margin-right:5px;font-weight:100;">/</span><span style="font-size:12px;color:#333333;margin-right:16px;">3</span></div>
                                </div>
                                                                <div style="display:black;margin-top:18px;font-family: PingFangSC-Medium;font-size: 18px;color: #121212;letter-spacing: 0px;line-height: 32px;margin-bottom:12px;">
                                    第一项测试
                                </div>
                                <div>
                                                                       <a  href="/tiao2?01=aa"><input type="button" class="lead pull-right" name="01" value="aa"></a><br />
                                                                       <a  href="/tiao2?01=ab"><input type="button" class="lead pull-right" name="01" value="ab"></a><br />
                                                                        <a  href="/tiao2?01=ac"><input type="button" class="lead pull-right" name="01" value="ac"></a><br />
                                                                        <a  href="/tiao2?01=ad"><input type="button" class="lead pull-right" name="01" value="ad"></a>
                                                                    </div>
                            </div>
                                                    </div>
                    </div>

                </div>
       
            </form>
        </div>
    </body>
</html>