<html>
    <head>
        <title>测测</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1,user-scalable=no">
    </head>
    <body>
    <style>
        .wx_icon{
            display: none;
        }
    </style>
        <div class="wrap">
            <div class="titlewrap">
                <p class="title">测测不要当真</p>
            </div>
            <form>
                 <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="conclusion">
                                <blockquote style="padding:0px;">
                                    <strong>随意测试★</strong><br>
                                    <h1> {{.}}</h1>
                                </blockquote>
                            </div>  
                        </div>                                                    
                    </div>
                </div>
            </form>
        </div>
        <a  href="/index"><div class="button"><span>重新测试</span></div></a>
            <div class="shadow"><p>戳右上角，在浏览器中打开~</p></div>
        
    </body>
</html>